<!-- Shortcut icon for browsers -->
<link rel="shortcut icon" href="/favicons/favicon-72x72.png" />

<!-- General icons for browsers -->
<link rel="icon" type="image/png" sizes="72x72" href="/favicons/favicon-72x72.png" />
<link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="128x128" href="/favicons/favicon-128x128.png" />
<link rel="icon" type="image/png" sizes="384x384" href="/favicons/favicon-384x384.png" />
<link rel="icon" type="image/png" sizes="512x512" href="/favicons/favicon-512x512.png" />

<!-- Apple touch icons for iOS devices -->
<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/favicons/android-chrome-512x512.png" />

<!-- Standard favicon for browsers -->
<link rel="icon" href="/favicons/android-chrome-512x512.png" sizes="152x152" />

<!-- Additional sizes for Android devices -->
<link rel="icon" sizes="192x192" href="/favicons/android-chrome-192x192.png" />
<link rel="icon" sizes="512x512" href="/favicons/android-chrome-512x512.png" />
